[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
# 字符集
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci

#默认使用innodb引擎
default-storage-engine=INNODB
#启用innodb_large_prefix选项，将约束项扩展至3072byte
innodb_large_prefix=on

datadir=/usr/local/mysql/data
basedir=/usr/local/mysql
socket=/tmp/mysql.sock
user=mysql
port=3306
# 取消密码验证skip-grant-tables
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# skip-grant-tables

#区分大小设置,0区分大小写,1不区分大小写
lower_case_table_names=1 

#参数取值为0、1、2, 默认为0
innodb_force_recovery=0

#指定不需要ONLY_FULL_GROUP_BY属性
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION

#解决大文件打入报错
max_allowed_packet=150M

#最大连接数
max_connections=1000
#等待关闭连接的时间,单位为秒,默认28800秒,即8小时
wait_timeout=28800


[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid